# Ignorar la carpeta de configuración de VS Code
.vscode/
# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de backups
*.bak
*.tmp

# Carpeta node_modules si usas npm
node_modules/

# Solo subir proyectos concretos
# !Proyecto2-P5.js/
